<h1 class="lead-title">Leads</h1>



  <% @leads.each do |lead| %>
  <div class="lead-index-container">
    <p>Name: <%= lead.first_name %> <%= lead.last_name %>  </p>
    <p>Phone Number: <%= lead.phone_number %></p>
    <p><%= link_to 'View', lead_url(lead)%></p>
  </div>
  <% end %>
