<h1>CallLogs#index</h1>
<p>Find me in app/views/call_logs/index.html.erb</p>

<h2> Call Logs </h2>

<% @lead.call_logs.each do |call_log| %>

  <p>
     <%= call_log.created_at %>
     <%= call_log.note %>
  </p>

<% end %>
